* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "BebasNeueLight";
    color: white;
}

body {
    background-color: #10254A;
}

p, blockquote {
    text-align: justify;
}

h3 {
    color: #4ADC0C;
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url("imagenes/imagen1.jpg");
    text-align: center;
}

#tituloPrincipal{
    font-family: "BebasNeueRegular";
    letter-spacing: 5px;
    font-size: 4em;
    color: black;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 35%;
    text-align: center;
    vertical-align: middle;
}
.row {
    height: 70%;
}
.column {
    float: left;
    height: 100%;
}

#col1 {
    width: 15%;
}

#col2 {
    width: 60%;
}

#col3 {
    width: 25%;
}

.imagenDerecha{
    margin-top: 20px;
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: green;
    padding: 10px;
    text-align: center;
}

/*HEADER*/
.tituloPagina {
    font-size: 40px;
    padding: 10px;
    padding-top: 15px;
	letter-spacing: 2px;
	color: white;
	background-color: #000000;
	text-align: center;
}

#logo {
	position: absolute;
	float: right;
	top: 27%;
	left: 70%;
}

/*MENU PRINCIPAL*/
nav {
	font-size: 25px;
	color: rgb(13, 27, 8);
	letter-spacing: 2px;
}

.menuLista {
    background-color: #4ADC0C;
    width: auto;
    margin: 20px;
	padding: 10px;
	list-style: none;
    text-align: center;
}

a {
	text-decoration: none; 
}

a:hover {
	color: #000000;
}

.menu li:hover {
	border-color: #fff;
    box-shadow:0 1px 3px rgba(255,255,255,0.5);
    outline: 0 none;
}

a:link {
	color: #000000;
}

/*BODY*/
section {
    margin-left: 10px;
    padding: 25px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 25px;
}

/*HOME*/
.seccionHome p, .seccionContact p, .seccionRules p {
    padding-top: 15px;
}
.seccionHome blockquote {
    padding-left: 25px;
}
#imagenDerechaHome {
    background-image: url(imagenes/imagen2.jpg)
}

/*ABOUT*/
.seccionAbout article {
    line-height: 30px;
    padding-top: 15px;
}
.seccionAbout blockquote {
    padding-left: 20px;
}

#imagenDerechaAbout {
    background-image: url(imagenes/imagen3.jpg);
}

/*CONTACT*/
#imagenDerechaContact {
    background-image: url(imagenes/imagen4.jpg);
}

#email {
	color: #4ADC0C;
}

#email:hover{
	color: #FFFFFF;
}

/*RULES*/
article ul, article ol {
	padding-left: 50px;
}

.seccionRules ol ol {
    list-style-type: lower-latin;
}

.seccionRules, .seccionGame {
    padding-top: 40px;
}

/*GAME INFO*/
.tablaGameInfo, .tablaGameInfo th, .tablaGameInfo td {
	margin-left: 10px;
	padding: 40px;
	border-collapse: collapse;
}

.tablaGameInfo th {
	font-size: 25px;
	color: #4ADC0C;
}

.tablaGameInfo td, .tablaGameInfo th {
	padding: 20px;
	text-align: center;
}

#email2 {
	color: #FFFFFF;
}

#email2:hover {
	color: #4ADC0C;
}

#emailParrafo {
	text-align: right;
	position: relative;
	bottom: 27px;
}

#imagenDerechaGame {
    background-image: url(imagenes/imagen2.jpg);
}

    /*GAME MAP*/
.seccionMap {
    padding-top: 35px;
}

.seccionMap h4 {
    color: #4ADC0C;
}

.gameMap {
    width: 100%;
    height: 200px;
}

/*REGISTRATION FORM*/

#imagenDerechaFormulario {
    background-image: url(imagenes/imagen4.jpg);
}

.tablaFormulario {
	text-align: left;
	padding: 30px;
	border: 1px solid #FFFFFF;
	width: 100%;
}
fieldset {
	border: none;
	margin: 20px;
	float: left;
}

input[type=text], input[type=date], select, option {
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid transparent;
	border-radius: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: #FFFFFF;
	width: 400px;
	height: 35px;
}

input[type=radio], input[type=checkbox] {
	margin: 5px;
	height: 15px;
	width: 15px;
}

select {
	height: 35px;
}

option {
	color: #000000;
}

input[type=text]:focus, input[type=date]:focus, select:focus, input[type=submit]:hover  {
	border-color: #fff;
    box-shadow:0 1px 3px rgba(255,255,255,0.5);
    outline: 0 none;

}

input[type=submit]:hover {
	color: #000000;
}

input[type=submit] {
	border: none;
	background-color: #4ADC0C;
	font-size: 30px;
	height: 50px;
	width: 150px;
}
